body {
	background-color: black;
	color: black;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 20px;
}

#title {
	text-align: left;
	display: inline-block;
	border: solid;
	border-color: black;
	border-width: 2px;
	background-color: yellow;
	display: block;
	/*position: fixed;*/
	font-size: 60px;
	margin-top: 0px;
}

#title_container {
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	position: fixed;
}

.information_body {
	margin: 20px 20px;
	padding: 10.5px 11px;
	background-color: gray;
	display:block;
}

#description {
	margin-top: 100px;
}

#fun_page {
	background-color: #3b3b38;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
	font-size: 40px;
	text-align: center;
}

#fun_link {
	color: white;
}

.information_body span#spoiler {
	color: gray;
}

.information_body span:hover#spoiler {
	color: yellow;
}

#images {
	display: inline;
	text-align: center;
}

#links > a:hover {
	background-color: yellow;
	color: red;
}
